* {
  box-sizing: border-box;
}

#title-section {
  margin-left: 25%;
  margin-right: 25%;
}

#audio-container {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 2fr 2fr 2fr;
}

@keyframes change {
  0% {
    background-color: darkseagreen;
  }
  100% {
    background-color: blueviolet;
  }
}

.song-div {
  color: whitesmoke;
  background-image: url("images/backgrounds/478155-abstract-digital_art-depth_of_field-hexagon.jpeg");
  background-size: 100vh;
  background-color: darkseagreen;
  background-blend-mode: luminosity;
  animation: change 5s infinite;
}

#miles-away {
  align-content: center;
}

iframe {
  margin-left: 6%;
}

div div h1 {
  text-align: center;
}

/* looking to try a different Idea. I like the idea of a cool card of some type. possible hover effects over individual div */
