#audio-container {
  display: grid;
  grid-row-gap: 25px;
}

#again-one-day {
  font-family: "Courier New", Courier, monospace;
  margin: auto;
}

#age-old-tales {
  font-family: "Courier New", Courier, monospace;
}

#expectations {
  font-family: "Courier New", Courier, monospace;
}

#driving-blind {
  font-family: "Courier New", Courier, monospace;
}

#eyes-open {
  font-family: "Courier New", Courier, monospace;
}

#fight-to-get-you {
  font-family: "Courier New", Courier, monospace;
}

#greyscale {
  font-family: "Courier New", Courier, monospace;
}

#make-you-choose {
  font-family: "Courier New", Courier, monospace;
}

#need-love {
  font-family: "Courier New", Courier, monospace;
}

#miles-away {
  font-family: "Courier New", Courier, monospace;
}

track {
  align-content: center;
}

div h1 {
  align-content: center;
}
