* {
  box-sizing: border-box;
}

#title-section {
  margin-left: 25%;
  margin-right: 25%;
}

#audio-container {
  display: grid;
  grid-row-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.song-div {
  font-size: 10px;
  font-family: "Archivo Black", "Archivo", sans-serif;
  width: 735px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

#miles-away {
  align-content: center;
}

audio {
  margin-left: 25%;
}

div div h1 {
  text-align: center;
}

/* looking to try a different Idea. I like the idea of a cool card of some type. possible hover effects over individual div */
